@import "../SassVariables";

.circle-container-three {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: auto;
  width: 1130px;
  height: 1130px;

  @media (max-width: 675px) {
    width: 360px;
    height: 580px;
  }
}

.circle-three {
  clip-path: circle(50% at 45% 50%);
  background-color: rgba(255, 78, 33, 0.1);
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 120%;

  @media (max-width: 675px) {
    clip-path: circle(53.7% at 17% 49%);
    bottom: 235%;
  }
}

.clircle-center-three {
  clip-path: circle(50% at 50% 50%);
  width: 55%;
  height: 55%;
  bottom: 197%;
  position: relative;
  left: 15%;
  background-color: $costumeBgColor;

  @media (max-width: 675px) {
    clip-path: circle(53.7% at 17% 49%);
    bottom: 315%;
    left: 0;
  }
}
