.description-mobile-first,
.description-mobile-second {
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-right: 15.5%;
  margin-left: 15.5%;
}

.mobile-start,
.mobile-end {
  width: 349px;
  height: 704px;
  z-index: 10;
  position: relative;
}

.header-first,
.header-second {
  margin: 0;
  width: 483px;
  height: 80px;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 40px;
  color: #ffffff;
}
.description-indent-first {
  margin-top: 268px;
  position: relative;
  z-index: 10;
  padding-left: 120px;
}

.description-indent-second {
  margin-top: 150px;
  position: relative;
  z-index: 10;
  padding-right: 120px;
}

.paragraph-first,
.paragraph-second {
  margin: 0;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 36px;
  margin-top: 39.5px;
  color: #ffffff;
}

.paragraph-first {
  margin-bottom: 347px;
}

.dot-description-mobile-first,
.dot-description-mobile-second {
  margin: 0;
  width: 10px;
  height: 10px;
  border: 8px solid #ff4e21;
  border-radius: 50%;
  position: relative;
  bottom: 20px;
}

.dot-description-mobile-second {
  left: 1%;
  z-index: 10;
}

@media (min-width: 1300px) {
  .description-mobile-first {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
  }

  .description-mobile-second {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
  }
}

@media (max-width: 675px) {
  .description-mobile-first,
  .description-mobile-second {
    flex-direction: column;
    margin-right: 7.5%;
    margin-left: 7.5%;
    justify-content: center;
    text-align: center;
  }

  .description-mobile-first {
    flex-direction: column-reverse;
  }

  .description-indent-first {
    margin-top: 90px;
    padding-left: 0;
  }

  .description-indent-second {
    margin-top: 50px;
    padding-right: 0;
  }

  .mobile-start,
  .mobile-end {
    width: 193px;
    height: 417px;
    display: block;
    margin: 0 auto;
  }

  .mobile-end {
    position: relative;
    top: 50px;
  }

  .header-first,
  .header-second {
    width: 319px;
    height: 102px;
    font-size: 1.5rem;
    line-height: 34px;
  }

  .paragraph-first,
  .paragraph-second {
    font-size: 1rem;
    line-height: 26px;
  }

  .paragraph-first {
    margin-bottom: 47px;
  }
  .paragraph-second {
    margin-bottom: 0;
    margin-top: 10px;
  }

  .dot-description-mobile-first,
  .dot-description-mobile-second {
    display: none;
  }
}
