@import "../SassVariables";

.NavbarMobile {
  display: none;
}

@media (max-width: 675px) {
  .NavbarMobile {
    @include flex(space-between);
    @include positionRelative(10);
    padding-top: 30px;
    padding-bottom: 42px;
    height: 40px;
  }

  .brand-mobile {
    margin-left: 7.5%;
    font-weight: $fontWeightPrimary;
    @include flex(center);
    align-items: center;
  }

  .logo-mobile {
    height: 30px;
    width: 30px;
    margin-top: 5px;
    margin-right: 14px;
  }

  .brand-name-mobile {
    font-size: 1.5rem;
    color: $fontColorOnDarkBg;
    line-height: 30px;
  }

  .burger-mobile {
    width: 32px;
    height: 31px;
    margin-top: 5px;
    margin-right: 7.5%;
    z-index: 14;
  }
}

.mobile-menu {
  color: $fontColorOnDarkBg;
  font-size: 1.2rem;
  font-weight: $fontWeightPrimary;
  line-height: 23px;
  display: flex;
  text-align: center;
  flex-direction: column;
  backdrop-filter: blur(5px);
  position: fixed;
  background-color: rgba(0, 0, 0, 0.75);
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 13;
  overflow-y: scroll;
}

.mobile-menu-items {
  padding-top: 30px;
}

.menu-logo {
  padding-top: 150px;
  width: 30px;
  height: 30px;
  display: block;
  margin: 0 auto;
  &:hover {
    color: $fontColorHighlighted;
  }
}

.mobile-button {
  display: block;
  margin: 0 auto;
  margin-top: 90px;
}
