.ComingSoon {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://files.cargocollective.com/c390151/main_bg.jpg");
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.5);
}

.soon-text {
  text-align: center;
  font-weight: 700;
  color: white;
  font-size: 3.5rem;
  margin: 0;
  padding-top: 15%;
}

/* for text style of the credits section see Footer component */

.coming-soon-credits {
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  position: fixed;
  bottom: 10px;
  width: 100%;
}
