.description-mobile-first {
  display: flex;
  justify-content: space-between;
  margin-left: 15.5%;
}

.description-mobile-second {
  display: flex;
  justify-content: space-between;
  margin-right: 15.5%;
}

.mobile-start,
.mobile-end {
  width: 321px;
  height: 694px;
  z-index: 10;
  position: relative;
}

.header-first,
.header-second {
  margin: 0;
  width: 483px;
  height: 80px;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 40px;
  color: #ffffff;
}
.description-indent-first {
  margin-right: 15.5%;
  margin-top: 268px;
  position: relative;
  z-index: 10;
}

.description-indent-second {
  margin-left: 15.5%;
  margin-top: 150px;
  position: relative;
  z-index: 10;
}

.paragraph-first,
.paragraph-second {
  margin: 0;
  width: 493.5px;
  height: 108px;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 36px;
  margin-top: 39.5px;
  color: #ffffff;
}

.paragraph-first {
  margin-bottom: 347px;
}

.dot-description-mobile-first,
.dot-description-mobile-second {
  margin: 0;
  width: 10px;
  height: 10px;
  border: 8px solid #ff4e21;
  border-radius: 50%;
  position: relative;
  bottom: 20px;
}

.dot-description-mobile-second {
  left: 1%;
  z-index: 10;
}

@media (min-width: 1550px) {
  .description-mobile-first {
    margin-left: 25.5%;
  }

  .description-mobile-second {
    margin-right: 25.5%;
  }
  .description-indent-first {
    margin-right: 25.5%;
  }
  .description-indent-second {
    margin-left: 25.5%;
  }
}
