.Footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 360px;
  padding-bottom: 280px;
  margin-top: 180px;
}

.footer-logo {
  width: 81px;
  height: 81px;
  margin-bottom: 17px;
}

.journey-waits {
  margin: 0;
  font-weight: 700;
  line-height: 40px;
  font-size: 1.75rem;
  margin-bottom: 23px;
  color: #ffffff;
}
.apple,
.google {
  width: 136px;
  height: 45px;
}
.google {
  margin-right: 20px;
}

.footer-image {
  display: block;
  margin: 0 auto;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}
