.Footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 552px;
  margin-top: 150px;
  background-image: url("./Assets/footer_image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}

.footer-logo {
  margin: 0;
  width: 81px;
  height: 81px;
  margin-bottom: 17px;
  margin-top: 170px;
}

.journey-waits {
  margin: 0;
  font-weight: 700;
  line-height: 40px;
  font-size: 1.75rem;
  margin-bottom: 23px;
  color: #ffffff;
}
.apple,
.google {
  width: 136px;
  height: 45px;
}
.google {
  margin-right: 20px;
}

.footer-image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}

.credits {
  color: #ffffff;
  letter-spacing: -0.2px;
  line-height: 40px;
  font-weight: 600;
  font-size: 0.75rem;
  padding-top: 80px;
}

a {
  text-decoration: none;
  color: #ff4e21;
}

a:hover {
  color: rgba(255, 78, 33, 0.8);
}

@media (max-width: 675px) {
  .Footer {
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0 100%);
    margin-top: 70px;
  }
  .footer-logo {
    width: 60px;
    height: 60px;
  }

  .journey-waits {
    line-height: 32px;
    font-size: 1.38rem;
  }
  .apple,
  .google {
    width: 136px;
    height: 45px;
  }
  .google {
    margin-right: 20px;
  }
  .credits {
    margin: 0;
  }
}
