.Header {
  margin-left: 10%;
  display: flex;
}

h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 61px;
  height: 122px;
  width: 594px;
  margin-top: 105px;
  margin-bottom: 0;
  color: #ffffff;
}

h2 {
  font-weight: 500;
  font-size: 1.12rem;
  line-height: 28px;
  height: 56px;
  width: 500px;
  margin-bottom: 32px;
  color: #ffffff;
}

.try {
  display: flex;
  margin-bottom: 320px;
}

.try-now {
  font-weight: 700;
  margin-left: 10px;
  font-size: 1.12rem;
  height: 28px;
  color: #f8f9fa;
}

.try-arrow {
  height: 24px;
  width: 24px;
}

.hero-image {
  width: 394px;
  height: 512px;
  padding-left: 73px;
}
