.MobileDisplay {
  display: flex;
  justify-content: space-between;
  margin-left: 128px;
  margin-right: 128px;
}

.mobile {
  width: 305px;
  height: 659px;
  z-index: 10;
}

.side {
  margin-top: 167px;
}

.middle {
  margin-top: 89px;
}
