.MobileDisplay {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-left: 9.4%;
  margin-right: 9.4%;
}

.mobile {
  width: 305px;
  height: 659px;
  z-index: 10;
}

.side {
  margin-top: 167px;
}

.middle {
  margin-top: 89px;
}

@media (min-width: 1550px) {
  .MobileDisplay {
    margin-left: 19.4%;
    margin-right: 19.4%;
  }
}
