.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 11.7%;
  margin-right: 11.7%;
  padding-top: 44px;
  padding-bottom: 82px;
  height: 40px;
  position: relative;
  z-index: 10;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 594px;
  color: #ffffff;
}

.nav-item {
  color: #ffffff;
  font-weight: 600;
  font-size: 0.875rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-item:hover {
  cursor: pointer;
  color: #ff4e21;
  text-decoration-color: rgba(255, 255, 255, 0.4);
}

button {
  font-weight: 600;
  font-size: 0.875rem;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  background-color: #ff4e21;
  border: solid #ff4e21;
  width: 161px;
  height: 40px;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  outline: none;
}

button:hover {
  cursor: pointer;
  background-color: #ffffff;
  border: solid #ffffff;
  color: #ff4e21;
}

.brand {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}

.logo {
  height: 30px;
  width: 30px;
  margin-top: 5px;
}

.dot-logo {
  color: #20211e;
}

.brand-name {
  margin-left: 14px;
  font-size: 1.5rem;
  color: #ffffff;
}

@media (min-width: 1100px) {
  .Navbar {
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
  }
}

@media (min-width: 1800px) {
  .Navbar {
    margin-left: auto;
    margin-right: auto;
    width: 1250px;
  }
}
