.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 11.7%;
  margin-right: 11.7%;
  padding-top: 44px;
  padding-bottom: 82px;
  height: 40px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 594px;
  color: #ffffff;
}

.nav-item {
  font-weight: 600;
  font-size: 0.875rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  font-weight: 600;
  font-size: 0.875rem;
  color: #ffffff;
  background-color: #ff4e21;
  border: solid #ff4e21;
  width: 161px;
  height: 40px;
  border-radius: 20px;
}

.brand {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  height: 30px;
  width: 30px;
}

.dot-logo {
  color: #20211e;
}

.brand-name {
  margin-left: 14px;
  font-size: 1.5rem;
  color: #ffffff;
}
