.Paragraph {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.header-paragraph {
  margin: 0;
  color: #ff4e21;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 40px;
  padding-top: 71px;
  padding-bottom: 31px;
  position: relative;
  z-index: 10;
}

.text-paragraph {
  margin: 0;
  color: #2a2a2a;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 36px;
  white-space: pre-wrap;
  position: relative;
  z-index: 10;
}

.dot-paragraph {
  margin: 0;
  width: 10px;
  height: 10px;
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: relative;
  z-index: 10;
}

.top {
  left: 15%;
  top: 45px;
}

.bottom {
  left: 73%;
  top: 60px;
}
