$fontFamily: "Montserrat", sans-serif;
$appBgColor: #f8f9fa;
$costumeBgColor: #0a0b10;
$fontWeightPrimary: 700;
$fontWeightMedium: 600;
$fontWeightSecondary: 500;
$fontWeightSmall: 400;
$fontColorGeneralApp: #2a2a2a;
$fontColorHighlighted: #ff4e21;
$fontColorOnDarkBg: #ffffff;

@mixin flex($justify) {
  display: flex;
  justify-content: $justify;
}

@mixin marginRightLeft($right, $left) {
  margin-right: $right;
  margin-left: $left;
}

@mixin marginMobile {
  margin-left: 7.5%;
  margin-right: 7.5%;
}

@mixin marginDesktop($width) {
  margin-left: auto;
  margin-right: auto;
  width: $width;
}

@mixin positionRelative($zIndex) {
  position: relative;
  z-index: $zIndex;
}

@mixin smallDots($dotColor) {
  margin: 0;
  width: 10px;
  height: 10px;
  border: 8px solid $dotColor;
  border-radius: 50%;
}
